body {
    margin: 0;
}

a {
    font-size: 1.1em;
    font-weight: 350;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #fcf2ca !important;
    
}

.nav-link {
    padding-right:  0.8em !important;
    padding-left: 0.8em !important;
}