body {
    margin: 0;
}

a {
    font-size: 1.3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.15ch;
    color: #fcf2ca !important;
}

.nav-link {
    padding-right:  0.8em !important;
    padding-left: 0.8em !important;
}