body {
    margin: 0;
    background-image: url("/Users/hirakdesai/Documents/Worksapce/GitHub/ambroseutics/images/bg_4.png");
    background-color: burlywood;
}

.home {
    text-align: center;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .vertical-bottom {
    margin: 0;
    position: absolute;
    bottom: 1%;
    /* -ms-transform: translateY(-50%); */
    /* transform: translateY(-50%); */
  }

  p {
      color: antiquewhite;
  }