body {
    margin: 0;
    background-image: url("images/bg_4.png");
    background-color: burlywood;
}

.home {
    text-align: center;
    margin-right: 0 !important;
}

.vertical-center {
    margin: 0 !important;
    position: absolute;
    top: 45%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .vertical-bottom {
    margin: 0;
    position: absolute;
    bottom: 1%;
  }

  p {
      color: antiquewhite;
  }